<div class="container">
    <h1>Update Product</h1>
    <form [formGroup]="editProductForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
            <label>Product Name</label>
            <input type="text" formControlName="ProductName" class="form-control" maxlength="20">
            <span *ngIf="!editProductForm.get('ProductName').valid && editProductForm.get('ProductName').touched">
                Please enter Product Name</span>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" formControlName="Description" rows="3" maxlength="50"></textarea>
            <span *ngIf="!editProductForm.get('Description').valid && editProductForm.get('Description').touched">
                    Please enter Product Description</span>
        </div>
        <div class="form-group">
            <label>Price (₹)</label>
            <input type="number" formControlName="Price" class="form-control">
            <span *ngIf="!editProductForm.get('Price').valid && editProductForm.get('Price').touched">
                    Please enter Product Price</span>
        </div>
        <button type="submit" [disabled]="!editProductForm.valid">Update</button>
    </form>
</div>