<div class="container">
    <h1>Create Product</h1>
    <form [formGroup]="productForm" (ngSubmit)="submitForm()" novalidate>
        <div class="form-group">
            <label>Product Name</label>
            <input type="text" formControlName="ProductName" class="form-control" maxlength="20">
            <span class="text-danger" *ngIf="!productForm.get('ProductName').valid && productForm.get('ProductName').touched">
                    Please enter Product Name</span>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" formControlName="Description" rows="3" maxlength="50"></textarea>
            <span class="text-danger" *ngIf="!productForm.get('Description').valid && productForm.get('Description').touched">
                    Please enter Product Description</span>
        </div>
        <div class="form-group">
            <label>Category</label>
            <select formControlName="CategoryId" class="form-control">
                <option [value]="null">Select Category</option>
                <option *ngFor="let category of categories" [value]="category.CategoryID">{{category.CategoryName}}</option>
            </select>
            <span class="text-danger" *ngIf="!productForm.get('CategoryId').valid && productForm.get('CategoryId').touched">
                    Please select category</span>
        </div>
        <div class="form-group">
            <label>Price (₹)</label>
            <input type="number" formControlName="Price" class="form-control">
            <span class="text-danger" *ngIf="!productForm.get('Price').valid && productForm.get('Price').touched">
                    Please enter Product Price</span>
        </div>
        <button type="submit" [disabled]="!productForm.valid">Submit</button>
    </form>
</div>