<div class="container">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" placeholder="Start searching product by category, name or price">
</div>
<div class="container productContainer">
  <table class="table table-bordered" *ngIf="Product.length > 0">
    <thead class="table-success">
      <tr>
        <th scope="col" class="text-center">Product ID</th>
        <th scope="col" class="text-center">Name</th>
        <th scope="col" class="text-center">Description</th>
        <th scope="col" class="text-center">Category</th>
        <th scope="col" class="text-center">Price</th>
        <th scope="col" class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of Product | filter: searchText | paginate: { itemsPerPage: 5, currentPage: p }">
        <th scope="row" class="text-center">{{product.ProductID}}</th>
        <td>{{product.ProductName}}</td>
        <td>{{product.Description}}</td>
        <td>{{product.Category.CategoryName}}</td>
        <td class="text-right">{{product.Price | currency:'INR'}}</td>
        <td class="text-center edit-block">
          <span class="edit" [routerLink]="['/edit-product/', product.ProductID]">
            <button type="button" class="btn btn-success btn-sm">Edit</button>
          </span>
          <span class="delete" (click)="deleteProduct(product.ProductID)">
            <button type="button" class="btn btn-danger btn-sm">Delete</button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>